// Colors
$light-grey: #f2f2f2;
$grey: #ccc;
$dark-grey: #666;
$orange-accent: #ff5722;
$main-blue: #0099CC;
$light-blue: #33b5e5;

//Fonts
$fancy-font: 'Noto Serif KR', sans-serif;

@import './mixins';